:root {
    --body-margin: 1rem;
}

html, body, header, main,
footer, figure, img, figcaption,
p, .totop, form, div {
    box-sizing: border-box;
}

html {
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    
    padding: var(--body-margin);
}

body {
    display: flex;
    flex-direction: column;
    
    max-width: 100vmin;
    min-height: calc(100vh - var(--body-margin) * 2);
    margin: 0 auto;
    border-radius: 6px;
    
    background: #fff radial-gradient(#fff, #ddd);
    box-shadow: 0 0 6px #000;
    
    font-family: sans-serif;
}

header, footer {
    padding: .5rem 1rem;
}

header {
    height: 20vmin;
    /*
    background:
        #fff
        url("../img/logo_liceo5.png")
        5vmin center no-repeat,
        linear-gradient(#ccc, #fff);
    
    background-size: 18vmin;
    */
    
    background:
        url("../img/logo_liceo5.png") no-repeat 4vmin center,
        linear-gradient(#ccc, #fff);
    
    background-size: 18vmin;
    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
    box-shadow: 0 1px 6px #000;
}

h1 {
    font-size: 4vmin;
    text-align: right;
    text-shadow: 0 0 4px #fff;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    scroll-snap-type: y mandatory;
}

figure {
    display: flex;
    flex-direction: column;
    order: 1;
    position: relative;
    scroll-snap-align: start;
    
    margin: 0 0 1rem;
    padding: 0;
}

figure.propia {
    order: 0;
}

figure img {
    flex-grow: 1;
    aspect-ratio: 1 / 1;
    
    background-color: #666;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.2) 35px, rgba(255,255,255,.2) 70px);
    
    object-fit: contain;
}

figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: .2rem 1rem;
    
    background: #eee;
}

figcaption p {
    margin: 0;
    padding: 0;
    
    font-weight: bold;
}

.upload {
    display: flex;
    flex-direction: column;
    
    width: min-content;
    max-width: 100%;
    margin: 1rem auto;
    padding: 2rem;
    
    border: solid 3px #666;
    border-radius: 6px;
    background: linear-gradient(-45deg, #ddd, #eee);
    box-shadow: 0 0 6px red;
}

.upload input:not(:first-child) {
    margin-top: 1rem;
}

.like [type="submit"] {
    --like-size: 50px;
    
    width: var(--like-size);
    height: var(--like-size);
    border-radius: 50%;
    
    text-align: center;
    font-size: calc(var(--like-size) / 2);
    background: gray;
    border: solid 2px #666;
    
    cursor: pointer;
    
    transition: all .6s;
}

.liked .like [type="submit"] {
    background: firebrick;
}

.like [type="submit"]:hover {
    transform: scale(1.2);
    background: firebrick;
}

.totop {
    --totop-size: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--totop-size);
    height: var(--totop-size);
    border-radius: 50%;
    overflow: hidden;
    
    position: fixed;
    bottom: 2vmin;
    right: 2vmin;
    
    background: #ccc;
    border: solid 3px #666;
    box-shadow: 0 0 6px #000;
    text-decoration: none;
}

.totop::before {
    content: "🔺";
    
    font-size: calc(var(--totop-size));
}

footer {
    text-align: center;
    box-shadow: 0 -1px 6px #000;
    font-weight: bold;
    color: #444;
}

footer div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 60px;
    gap: .6rem;
    
    width: 100%;
    margin-bottom: 1rem;
}

footer img {
    width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    margin: 0 6px;
    justify-self: center;
    
    object-fit: contain;
}

footer img:nth-of-type(odd) {
    grid-row: span 2;
}